*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #81b214;
    font-family: 'Poppins', sans-serif;
}
div.main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
div::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #81b214, transparent);
    z-index: 10;
}

div img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#horse{
    z-index: 2;
}
#heading{
    position: relative;
    font-size: 10em;
    color: white;
    z-index: 1;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}


.info{
    padding: 5em 10em;
    color: white;
}
.info p{
    font-size: 1.5em;
}
.info ul{
    list-style: none;
    margin: 15px 0 30px 0;
}

.info ul li{
    position: relative;
    margin-left: 15px;
}
.info ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 10px;
    height: 2px;
    background-color: white;
}

@media(max-width:1200px){
    #heading{
        font-size: 8em
    }
}

@media(max-width:991px){
    #heading{
        font-size: 5em;
    }
    .info{
        padding: 5em 7em;
    }
    .info p{
        font-size: 1.2em;
    }
}
@media(max-width:767px){
    #heading{
        font-size: 3em;
    }
    .info{
        padding: 5em 2em;
    }
}
@media(max-width:400px){
    #heading{
        font-size: 2em;
    }
}